/* body {
    background-color: rgb(0, 54, 104);
    color: white;
} */

hr {
    border-top: 1px solid rgb(255, 255, 255, 0.5)
}

.jumbotron {
    padding: 20rem 10rem;
    color: white;
    background-size: cover;
    background-repeat: no-repeat
}


#index-jumbo {
    background: url(img/clement-h-95YRwf6CNw8-unsplash.jpg) no-repeat center;
    background-size: cover;
}