/* body {
    background-color: rgb(0, 54, 104);
    color: white;
} */

hr {
    border-top: 1px solid rgb(255, 255, 255, 0.5)
}

.jumbotron {
    padding: 20rem 10rem;
    color: white;
    background-size: cover;
    background-repeat: no-repeat
}

.hr-body {
    border-top: 1px solid rgb(0, 0, 0)
}


#index-jumbo {
    background: url(img/ditto-landing.png) no-repeat center;
    background-size: cover;
}

#jumbo-header {
    font-size: 100px;
    font-weight: 500;
}

#info {
    font-size: 50px;
    font-style: italic;
}

#left-info p{
    font-size: 5rem;
}

.bg-ditto {
    background-color: rgb(212, 167, 210);
}